* {
	padding: 0;
	margin: 0;
	font-family: Castellar;
	text-align: center;
}
form {
	padding: 120px 20px;
	border-radius: 15px;
	background: linear-gradient(50deg, aqua, #33FF99);
	margin: calc(20% + 100px);
	margin-top: 90px;
	padding-top: 46px;
	margin-bottom: 40px;
}

h1 {
	text-align: center;
	padding: 12px;
	color: #444;
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px;
	border-radius: 15px;
}

input[type='Submit'] {
	border-radius: 15px;
	background-color: #48e;
	color: #fff;
	padding: 15px;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 40px;
	border: none;
}

ul {
	padding: 20px 20px;
	border-radius: 15px;
	background: linear-gradient(50deg, aqua, #33FF99);
	margin: calc(25% + 100px);
	margin-top: 50px;
	padding-top: 28px;
}